* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}
.flexbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 300px;
  margin-top: 30px;
  border: solid 2px #d7d7d7;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#display {
  width: auto;
  margin: 5px;
  padding: 5px;
  height: 60px;
  border: solid 2px #d7d7d7;
  background-color: #fafafa;
  font-size: 32px;
  text-align: right;
  font-weight: bold;
  -webkit-box-shadow: inset -2px 2px 5px 0px rgba(215,215,215,1);
-moz-box-shadow: inset -2px 2px 5px 0px rgba(215,215,215,1);
box-shadow: inset -2px 2px 5px 0px rgba(215,215,215,1);

}
button {
  
  width: 60px;
  height: 40px;
  margin: 5px;
  font-size: 17px;
  font-weight: bold;
}
button:hover {
  border: solid 1px blue;
}
.operators, .clear {
  background-color: #d3d3d3;
}
#equals {
  background-color: blue;
  color: #ffffff;
  width: 135px;
  margin-right: 5px;
 
}